
/* Header */
.header {
  display: flex;
  align-items: center;
  height: 12%;
  background-color: var(--primary-color);
  min-height: 12%;
}

.titleSegment {
  margin-left: 30px;
}

.wahooTitle {
  color: var(--heading-color-text);
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}