:root {
    /* color library */
    --color-text: #FFFFFF;
    --dim-color-text: #DEDCFF;

    --primary-color: #445DFD;
    --dim-primary-color: #494EDA;
    --secondary-color: #6D85FF;
    --dim-secondary-color:#5B75DB;

    --divider-color: #FFEDED80;
}